.labelInput{
    display: block;
    margin-bottom: 5px;
}
.inputRupiah{
    font-size: 18px;
    padding: 5px 10px;
    border-width: 0px 0px 1px 0px;
    border-color: #0c0b0b;
    text-align: center;
    color: black;
    background-color: #2ea7181f;
    border-radius: 4px 4px 0px 0px;
  }