.App {
  text-align: center;
  border: 1px solid #2dcc36d1;
  margin: 50px auto;
  padding: 50px;
  box-shadow: rgba(0,0,0,.04) 10px 10px 6px 0;
  border-radius: 5px;
  width: 70%;
  max-width: 530px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.denominations{
  margin-top: 15px;
}
.denomination p{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 200px;
  margin: 5px 18px;
  padding: 20px 40px;
  color: black;
  border: 1px solid #00800045;
  box-shadow: rgba(0,0,0,.04) 3px 3px 6px 0;
  display: inline-block;
  text-align:left;
}
.label-input{
  display: block;
  margin-bottom: 5px;
}
.input-rupiah{
  font-size: 18px;
  padding: 5px 10px;
  border-width: 0px 0px 1px 0px;
  border-color: #0c0b0b;
  text-align: center;
  color: black;
  background-color: #2ea7181f;
  border-radius: 4px 4px 0px 0px;
}

.error-notification{
  color: #a94442;
  background-color: #f2dede;
  padding: 1px;
  margin-top: 10px;
  border: 1px solid #ebccd1;
}

.app-title{
  font-size: 20px;
  font-weight: 500;
  margin: 0px 0px 20px 0px;
}

.fraction-total{
  background-color: #ea212d;
  color: white;
  padding: 4px 8px;
  border-radius: 46%;
  font-size:13px;
}

.fraction-value{
  margin: 0px 10px;
}